/*
 * Globals
 */

/* Links */

a, a:focus, a:hover {
    color: #fff;
  }
  
  /* Custom default button */
  
  .btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
  }
  
  /*
   * Base structure
   */
  
  html, body {
    height: 100%;
  }
  
  body {
    display: block;
  }
  
  @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
  }
  
  html, body {
    height: 100%;
  }

  
.form-modal {

  }
  
  .form-modal h1 {
    margin:  0 0 20px;
    margin-top: -25px;
    padding: 0;
    color: #333;
    text-align: center;
  }
  .form-modal .inputbox {
    position: relative;
  }
  .form-modal .inputbox input {
    width: 135%;
    padding : 5px 0;
    font-size : 16px;
    color: #333;
    margin-right: 50px;
    margin-bottom: 10px;
    border: none;
    border-bottom : 1px solid #333;
    outline: none;
    background: transparent
  }
  .form-modal .inputbox label {
    position: absolute;
    top : 0;
    left : 0;
    padding : 10px 0;
    font-size : 16px;
    color : #333333;
    pointer-events : none;
    transition : .5s;
  }
  .form-modal .inputbox input:focus ~ label,
  .form-modal .inputbox input:valid ~ label {
    top : -18px;
    left : 0;
    color: #FFA500;
    font-size : 12px;
  }